Lex/lex.yy.c
Lex/a.out
Lex/lexer
Lex/Tests/lexer
Lex/Tests/a.out
Parser/y.tab.c
Parser/y.tab.h
Parser/parser
Parser/parser.tab.c
Parser/parser.tab.h
Parser/a.out
CodeGen/codegen
CodeGen/out.ll
CodeGen/out1.ll
CodeGen/out.o
CodeGen/decibel_stdlib.o
CodeGen/out
.vscode/
.DS_Store
.clang-format
Semantic/semantic_analyser
Makefile.inc
